@page "/people"
@using System.Globalization
@attribute [Authorize(Policy = "AdminOnly")]

@inject NavigationManager NavigationManager
@inject IViewPersonUseCase ViewPersonUseCase
@inject IDeletePersonUseCase DeletePersonUseCase

<h3>Person</h3>
<br />
@if (people != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>Profile Picture</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Date of Birth</th>
                <th>Gender</th>
                <th>City</th>
                <th>Age</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var person in people)
            {
                <tr>
                    <td><img src="@person.Image" style="width:75px;height:auto;" /></td>
                    <td>@person.FirstName</td>
                    <td>@person.LastName</td>
                    <td>@person.DateofBirth.ToString().Substring(0,10)</td>
                    <td>@person.Gender</td>
                    <td>@person.city</td>
                    <td>@person.Age</td>
                    <td>
                        <button type="button" class="btn btn-link" @onclick="@(()=>OnEditPerson(person))">Edit</button>
                        &nbsp;
                        <button type="button" class="btn btn-link" @onclick="@(()=>OnDeletePerson(person.PersonId))">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
<br />
<button type="button" @onclick="OnClickAddPerson" class="btn btn-primary">Add Person</button>


@code {

    private IEnumerable<Person> people;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        people = ViewPersonUseCase.Execute();
    }

    private void OnClickAddPerson()
    {
        NavigationManager.NavigateTo("/addperson");
    }

    private void OnEditPerson(Person person)
    {
        NavigationManager.NavigateTo($"/editperson/{person.PersonId}");
    }

    private void OnDeletePerson(int PersonId)
    {
        DeletePersonUseCase.Execute(PersonId);
        NavigationManager.NavigateTo("/people");
    }
}
